USE [master]
GO
/****** Object:  Database [olodreem]    Script Date: 01-06-2018 02:53:38 ******/
CREATE DATABASE [olodreem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'olodreem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\olodreem.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'olodreem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\olodreem_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [olodreem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [olodreem]
GO
USE [olodreem]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 01-06-2018 02:53:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Artist] [nvarchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[filename] [nvarchar](max) NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-06-2018 02:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Firstname] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([Id], [User_Id], [Artist], [Title], [Type], [Size], [Category], [filename]) VALUES (3, 8, N'h', N'h', N'QR CODE', N'433.52 KB', N'MUSICS', N'D:\Bhavdip\Angular Project\vs2017\olodreem\olodreem.Web\wwwroot\1.mp3')
SET IDENTITY_INSERT [dbo].[Media] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Email], [Mobile], [Firstname], [LastName], [Password]) VALUES (8, N'nikunj', N'nikunj@gmail.com', N'9825891108', N'nikunj', N'talaviya', N'123')
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Mobile], [Firstname], [LastName], [Password]) VALUES (9, N'bhavdip', N'bhavdip@gail.com', N'9825891108', N'bhavdip', N'talaviya', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
